body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.header{
  text-align: center;
  margin: 0 auto;
  
}

li {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  box-shadow: 1px 1px #888888;
}
li:hover {
  transform: scale(1.1);
}

.delete-form {
  display:inline-block;
  

}

.delete-form button {
  background-color: rgb(255, 255, 255);
  color: red;
  border: none;
}

.delete-form button:hover {
  transform: scale(1.1);
}